 .logo {
     width: 120px;
     height: 31px;
     background: #eee url('../images/logo.png') no-repeat center;
     background-size: cover;
     margin: 16px 24px 16px 0;
     float: left;
     border-radius: 6px;
 }