.detail_box {
    width: 100%;
    text-align: center;
    h1 {
        font: normal 700 24px 'Arial';
    }
    img {
        vertical-align: bottom;
        width: 270px;
        height: 378px;
    }
    p {
        text-align: left;
        text-indent: 2em;
        margin-top: 20px;
        font-size: 16px;
    }
}